# Node modules
node_modules/

# Logs
*.log

# Environment variables
.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/node_modules
/bower_components

# IDE settings
.vscode/
.idea/

#Repo Details
Details For Future.txt